@import url('reset.css');
/* reset css */

/* section 01 */
.section01{
    position: relative;
}
.nav_un{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all .3s;
    z-index: 99;
    position: fixed;
    padding: 1%;
}
.logo{
    float: left;
}
.logo img{
    width: 60%;
}
.logo_w{
    display: none;
}
.menus{
    float: right;
    padding: 20px 40px;
}
.menu-detail li{
    float: left;
}
.menu-detail li a{
    font-family: 'EBSHMJESaeronRA';
    font-weight: normal;
    font-size: 1.125rem;
    color: #111;
    padding: 2px 20px;
}
.menu-detail li a:hover{
    color: #f1d6a3;
}
.menu-detail>li+li:before{
    width: 1px;
    height: 17px;
    background-color: #eee;
    position: absolute;
    content: "";
    margin-top: 4px;
}
/* responsive menu */
.nav-responsive{
    width: 75%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    z-index: 99;
    display: none;
}
.logo-responsive{
    float: left;
}
.logo-responsive img{
    width: 60%;
}
.logo_w-responsive{
    display: none;
}
.menu-detail-responsive{
    margin: 30% 0 0 10%;
}
.menu-detail-responsive li{
    margin-top: 10%;
}
.menu-detail-responsive li a{
    font-family: 'EBSHMJESaeronRA';
    font-weight: normal;
    font-size: 1.25rem;
    color: #111;
}
.menu-detail-responsive li a:hover{
    color: #f1d6a3;
}
/* hamburger button */
.hamburger-button{
    color: #fff;
    display: none;
    float: right;
}
.hamburger-close-button{
    float: right;
    color: #111;
}
/* bxslider */
.bg01, .bg02, .bg03{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg01{
    background-image: url('../images/img1.jpg');
}
.bg02{
    background-image: url('../images/img2.jpg');
}
.bg03{
    background-image: url('../images/img3.jpg');
}
/* slide text */
.slide-txt{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}
.slide-txt>h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: normal;
    font-size: 7.188rem;
    color: #fff;
}
.kr{
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: -2px;
    color: #fff;
}
.en{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 1.5rem;
    color: #eee;
}
/* section 01 end */

/* section 02 */
.section02{
    width: 100%;
    position: relative;
    background: url('../images/img4.jpg') no-repeat center;
    background-size: cover;
}
.sec02-container{
    width: 80%;
    margin: 0 auto;
}
.sec02-txt{
    text-align: center;
    padding: 6% 0 6% 0;
}
.sec02-txt h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: 400;
    font-size: 4.063rem;
    color: #111;
}
.d-float>div{
    float: left;
}
.sec02-detail{
    width: 40%;
}
.detail-text{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 50px;
    text-align: justify;
}
.sec02-img{
    width: 50%;
    margin-left: 5%;
    padding-bottom: 10%;
}
.sec02-img>img{
    width: 100%;
}
.sec02-detail-2{
    width: 40%;
    margin: 2% 2% 0 3%;
}
/* responsive detail text */
.detail-text-2{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    line-height: 29px;
    color: #555;
    display: none;
}
/* section 02 end */

/* section 03 */
.section03{
    width: 100%;
    background-image: url('../images/img5.jpg');
    position: relative;
    float: left;
}
.map-title{
    width: 80%;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 1%;
}
.map-title>h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: 400;
    font-size: 4.063rem;
    color: #fff;
}
.map-detail{
    width: 80%;
    position: relative;
    margin: 0 auto;
}
/* map text */
.map-course{
    width: 30%;
    float: left;
}
.course-01, .course-02, .course-03, .course-04, .course-05, .course-06, .course-07, .course-08, .course-09, .course-10, .course-11, .course-12, .course-13, .course-14{
    width: 100%;
    float: left;
    margin-bottom: 5%;
}
.map-course>div:last-child{
    padding-bottom: 10%;
}
.map-number{
    width: 21px;
    height: 21px;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 19px;
    color: #111;
    border-radius: 100%;
    background: #f6d15a;
    text-align: center;
    float: left;
    margin-top: 2.8%;
}
.map-text{
    float: left;
    margin-left: 5%;
}
.map-text>a{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 1.7rem;
    color: #fff;
}
/* map image */
.map-img{
    width: 70%;
    float: left;
}
.map-img-detail{
    position: relative;
}
.map-frame{
    width: 100%;
    position: relative;
}
.map-frame>img{
    width: 100%;
}
/* map button */
.btn-01{
    width: 11%;
    height: 2%;
    transform: skew(-31deg) rotate(24deg);
    top: 81.1%;
    right: 76%;
    position: absolute;
}
.btn-02{
    width: 12%;
    height: 10%;
    transform: skew(-42deg) rotate(20deg);
    top: 56.9%;
    right: 55.9%;
    cursor: pointer;
    position: absolute;
}
.btn-03{
    width: 11%;
    height: 2.5%;
    transform: skew(-30deg) rotate(22deg);
    top: 54.1%;
    right: 50%;
    cursor: pointer;
    position: absolute;
}
.btn-04{
    width: 11.5%;
    height: 3.5%;
    transform: skew(-30deg) rotate(22deg);
    top: 49.5%;
    right: 46.5%;
    cursor: pointer;
    position: absolute;
}
.btn-05{
    width: 8.3%;
    height: 4%;
    transform: skew(-28deg) rotate(23deg);
    top: 44.5%;
    right: 46%;
    cursor: pointer;
    position: absolute;
}
.btn-06{
    width: 9.4%;
    height: 4.7%;
    transform: skew(-38deg) rotate(20deg);
    top: 46.2%;
    right: 30.4%;
    cursor: pointer;
    position: absolute;
}
.btn-07{
    width: 11%;
    height: 5%;
    transform: skew(-40deg) rotate(20deg);
    top: 59%;
    right: 40.9%;
    cursor: pointer;
    position: absolute;
}
.btn-08{
    width: 12%;
    height: 6%;
    transform: skew(-44deg) rotate(17deg);
    top: 23%;
    right: 21.9%;
    cursor: pointer;
    position: absolute;
}
.btn-09{
    width: 12%;
    height: 5%;
    transform: skew(-43deg) rotate(20deg);
    top: 16%;
    right: 15.9%;
    cursor: pointer;
    position: absolute;
}
.btn-10{
    width: 7%;
    height: 2%;
    transform: skew(-43deg) rotate(20deg);
    top: 11.5%;
    right: 24.5%;
    cursor: pointer;
    position: absolute;
}
.btn-11{
    width: 15%;
    height: 7%;
    transform: skew(-40deg) rotate(15deg);
    top: 7.5%;
    right: 36.9%;
    cursor: pointer;
    position: absolute;
}
.btn-12{
    width: 14.5%;
    height: 9%;
    transform: skew(-44deg) rotate(18deg);
    top: 37.5%;
    right: 53%;
    cursor: pointer;
    position: absolute;
}
.btn-13{
    width: 5.5%;
    height: 3%;
    transform: skew(-44deg) rotate(18deg);
    top: 48.7%;
    right: 63%;
    cursor: pointer;
    position: absolute;
}
.btn-14{
    width: 11%;
    height: 6.8%;
    transform: skew(-41deg) rotate(18deg);
    top: 51.7%;
    right: 35%;
    cursor: pointer;
    position: absolute;
}
/* map button end */
/* modal */
.modal-01, .modal-02, .modal-03, .modal-04, .modal-05, .modal-06, .modal-07, .modal-08, .modal-09, .modal-10, .modal-11, .modal-12, .modal-13, .modal-14{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid #333;
    overflow: auto;
    position: fixed;
    display: none;
}
.modal-content{
    width: 50%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.98);
    position: absolute;
    transition: all .35s;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
}
.modal-header{
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 2%;
}
.modal-header .modal-title{
    width: 50%;
    float: left;
    font-family: 'EBSHMJESaeronRA';
    font-weight: 400;
    font-size: 2rem;
    color: #111;
}
.modal-header .close-btn{
    width: 50%;
    color: #111;
    float: left;
}
.modal-header .close-btn>a{
    float: right;
}
.modal-img{
    width: 60%;
    margin: 0 auto;
}
.modal-img>img{
    width: 100%;
}
.modal-detail{
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;
}
.modal-detail>p{
    font-family: 'Noto Sans KR';
    font-size: 1.125rem;
    line-height: 35px;
    text-align: justify;
    color: #111;
}
/* modal end */

/* section 04 */
.section04{
    width: 100%;
    position: relative;
    background: url('../images/img6.jpg') no-repeat center;
    background-size: cover;
    padding-bottom: 8.2%;
}
.sec04-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 13%;
}
.sec04-title>h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: 400;
    font-size: 4.063rem;
    color: #111;
    float: left;
}
.sec04-title>.f-c-y{
    font-size: 1.5rem;
    margin-top: 4.5%;
}
.sec04-list{
    width: 30%;
    float: left;
}
.sec04-detail{
    width: 80%;
    float: left;
}
.guide-list-number{
    width: 15%;
    float: left;
    margin-top: 1.5%;
}
.guide-list-number li a{
    width: 30px;
    height: 30px;
    display: block;
    background-color: #fff;
    border: 1px solid #111;
    font-family: 'Noto Sans KR';
    font-size: 1.125rem;
    color: #111;
    text-align: center;
    margin-bottom: 72%;
}
.guide-list-number li a:hover{
    width: 30px;
    height: 30px;
    background-color: #383838;
    color: #fff;
}
.guide-list-text{
    width: 75%;
}
.guide-list-text{
    float: left;
}
.guide-list-text li a{
    font-family: 'Noto Sans KR';
    font-size: 1.7rem;
    color: #111;
    margin-bottom: 12%;
    display: block;
}
.guide-list-text li a:hover{
    font-weight: 500;
}
.sec04-list-detail{
    float: left;
    width: 100%;
    margin-top: 10%;
}
.guide-list-arrow{
    width: 10%;
    float: left;
}
.arrow01, .arrow02, .arrow03{
    display: block;
    margin-bottom: 38%;
}
.guide-list-arrow>.xi-2x{
    color: #fff;
    margin-top: 8.5%;
    margin-bottom: 116%;
    z-index: 99999;
}
/* swiper slide */
.sec04-slide{
    width: 60%;
    float: left;    
}
.swiper-container{
    width: 100%;
    height: 100%;
    margin-left: 5%;
}
.swiper-pagination{
    width: 100%;
    font-size: 0.8rem;
    color: #333;
}
.swiper-pagination-current{
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    margin-left: 50%;
}
.swiper-pagination-total{
    font-size: 1rem;
    color: #888;
}
.swiper-slide-active{
    margin-right: 0%;
}
.swiper-slide>img{
    width: 90%;
    cursor: pointer;
}
.swiper-slide{
    width: 60%;
    margin-right: 0;
    padding-bottom: 7%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slide-hover-01, .slide-hover-02, .slide-hover-03{
    width: 90%;
    height: 89%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    cursor: pointer;
    display: none;
}
.slide-hover-txt{
    font-family: 'Noto Sans KR';
    margin: 8% 0 0 8%;
}
.slide-hover-txt h1{
    font-size: 1.875rem;
    color: #fff;
}
.slide-hover-txt p, strong{
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: -1px;
    margin-bottom: 3%;
}
.slide-hover-txt p:last-child{
    margin-top: 6%;
    margin-bottom: 0;
}
.slide-hover-01>.slide-hover-txt p:last-child{
    font-size: 1rem;
}
.slide-hover-03>.slide-hover-txt>.f-s-18{
    font-size: 1.125rem;
}
.underline{
    width: 13%;
    height: 4px;
    background: #fff;
    border: none;
    margin: 3% 0 10%;
}
.downbtn{
    border: none;
    float: right;
    margin: 5% 8% 8% 0;
    padding: 1% 2%;
    font-family: 'Noto Sans KR';
    font-size: 0.9375rem;
    font-weight: 400;
    background-color: #f6d15a;
}
/* section 04 end */

/* section 05 */
.section05{
    width: 100%;
    position: relative;
    background: url('../images/img7.jpg') no-repeat center;
    background-size: cover;
    padding-top: -0.2%;
}
.sec05-container{
    width: 80%;
    margin: 0 auto;
}
.sec05-title{
    text-align: center;
}
.sec05-title>h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: 400;
    font-size: 4.063rem;
    color: #111;
}
.sec05-title>.f-c-y{
    font-size: 1.5rem;
}
.sec05-slide{
    width: 100%;
    margin: 0 auto;
}
.sec05-slide>div{
    height: 663px;
    background-size: cover;
    background-position: center;
    border: 1px solid #eee;
    cursor: pointer;
    float: left;
    transition: 0.3s;
    margin: 2.5% 0.4%;
    opacity: 0.6;
}
.tab01{
    width: 36%;
    background-image: url(../images/tab_01.jpg);
}
.tab02{
    width: 20%;
    background-image: url(../images/tab_02.jpg);
}
.tab03{
    width: 20%;
    background-image: url(../images/tab_03.jpg);
}
.tab04{
    width: 20%;
    background-image: url(../images/tab_04.jpg);
}
.tab01:hover, .tab02:hover, .tab03:hover, .tab04:hover{
    opacity: 1;
}
/* section 05 end */

/* section 06 */
.section06{
    width: 100%;
    position: relative;
}
.sec06-container{
    width: 100%;
    padding-top: 10%;
}
#map{
    width: 100%;
    height: 799px;
    float: left;
    position: relative;
}
.sec06-map-info{
    width: 40%;
    background-color: #fff;
    z-index: 9;
    top: 10%;
    right: 5%;
    position: absolute;
    margin-top: 10%;
}
.sec06-map-img{
    width: 40%;
    height: 592px;
    background-image: url('../images/mapbn.jpg');
    background-position: center;
    background-size: cover;
    float: left;
    margin-right: 2%;
}
.sec06-map-detail{
    width: 50%;
    float: left;
    padding: 5% 0 0 3%;
}
.sec06-map-detail>h1{
    font-family: 'EBSHMJESaeronRA';
    font-weight: 400;
    font-size: 1.875rem;
    color: #111;
}
.address{
    font-family: 'Noto Sans KR';
    font-size: 1.125rem;
    line-height: 28px;
    color: #111;
    margin-top: 5%;
}
.address-en{
    font-family: 'Noto Sans KR';
    font-weight: 200;
    font-size: 0.9rem;
    color: #888;
}
.subway, .bus{
    margin-top: 5%;
}
.subway, .bus>p{
    font-family: 'Noto Sans KR';
    font-size: 1rem;
    line-height: 28px;
    color: #111;
}
.f-w-b{
    font-weight: 600;
}
.map-line{
    width: 100%;
    border-bottom: 1px solid #333;
    margin-top: 5%;
}
.subtext{
    font-family: 'Noto Sans KR';
    font-size: 0.8125rem;
    color: #888;
    margin-top: 7%;
}

/* footer */
#footer{
    width: 100%;
    background-color: #333;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-wrap{
    width: 80%;
    margin: 0 auto;
}
.f-logo{
    width: 10%;
    float: left;
}
.f-text{
    float: left;
    margin-left: 150px;
    margin-top: 15px;
}
.f-text p{
    color: rgb(179, 179, 179);
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}


/* ============================
media ====================== */

@media(max-width: 1025px){
    /* section 01 */
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
        right: 46%;
    }
    .slide-txt>h1{
        font-size: 5.625rem;
    }
    .kr{
        font-size: 2.813rem;
        letter-spacing: -1.5px;
    }
    .en{
        font-size: 2.375rem;
    }
    /* section 02 */
    .sec02-container{
        width: 90%;
    }
    .detail-text{
        display: none;
    }
    .detail-text-2{
        display: block;
        font-size: 1.17rem;
        line-height: 32px;
    }
    .sec02-img{
        width: 52%;
        margin-left: 0;
    }
    .sec02-detail-2{
        width: 44%;
        padding-left: 4%;
        margin: 0;
    }
    .sec02-txt h1{
        font-size: 3.75rem;
    }
    /* section 03 */
    .map-course{
        width: 20%;
        padding-top: 2%;
        padding-bottom: 5%;
    }
    .map-img{
        width: 80%;
        padding-top: 10%;
    }
    .map-title, .map-detail{
        width: 90%;
    }
    .map-title>h1{
        font-size: 3.75rem;
    }
    .modal-content{
        width: 80%;
        height: 70%;
        top: 40%;
    }
    .modal-header{
        width: 90%;
        margin: 0 auto;
        padding-top: 7%;
        padding-bottom: 5%;
    }
    .modal-header .modal-title{
        width: 50%;
        font-size: 2.25rem;
    }
    .modal-img{
        width: 90%;
    }
    .modal-detail>p{
        font-size: 1.3rem;
        line-height: 40px;
        padding-bottom: 5%;
    }
    /* section 04 */
    .sec04-container{
        width: 90%;
    }
    .sec04-title>h1{
        font-size: 3.75rem;
        line-height: 45px;
    }
    .guide-list-number{
        margin-top: 3.5%;
    }
    .guide-list-text li a{
        font-size: 1.6rem;
    }
    .guide-list-arrow{
        display: none;
    }
    .sec04-slide{
        width: 70%;
    }
    .slide-hover-01, .slide-hover-02, .slide-hover-03{
        width: 100%;
    }
    .swiper-slide>img{
        width: 100%;
    }
    .swiper-container{
        margin-left: 0;
    }
    .slide-hover-txt h1{
        font-size: 1.5rem;
    }
    .slide-hover-txt p, strong{
        font-size: 1rem;
    }
    .underline{
        margin: 3% 0 3%;
    }
    /* section 05 */
    .sec05-title>h1{
        font-size: 3.75rem;
    }
    .sec05-container{
        width: 90%;
    }
    .sec05-slide>div{
        margin: 2.5% 0.3%;
        margin-bottom: 10%;
    }
    /* section 06 */
    #map{
        height: 650px;
    }
    .sec06-map-info{
        width: 100%;
        position: relative;
        margin-top: 0;
    }
}

@media(max-width: 769px){
    .kr{
        font-size: 2.113rem;
    }
    .en{
        font-size: 1.575rem;
    }
    /* section 02 */
    .sec02-txt>h1{
        font-size: 3.125rem;
        padding-top: 5%;
    }
    .d-float>div{
        float: none;
    }
    .sec02-img{
        width: 100%;
        padding-bottom: 5%;
    }
    .sec02-detail-2{
        width: 100%;
        margin-bottom: 8%;
        padding: 0;
    }
    .sec02-detail-2>p{
        font-size: 1.313rem;
        line-height: 40px;
    }
    /* section 03 */
    .map-course{
        width: 100%;
    }
    .map-title>h1{
        font-size: 3.125rem;
    }
    .map-text>a{
        font-size: 1.313rem;
    }
    .map-number{
        margin-top: 5.7%;
    }
    .modal-detail>p{
        font-size: 1.313rem;
    }
    .course-01, .course-02, .course-03, .course-04, .course-05, .course-06, .course-07, .course-08, .course-09, .course-10, .course-11, .course-12, .course-13, .course-14{
        width: 20%;
        float: left;
        margin-bottom: 3%;
    }
    .map-img{
        width: 100%;
        padding-top: 0;
        margin-bottom: 10%;
    }
    /* section 04 */
    .sec04-title>h1{
        font-size: 3.125rem;
    }
    .guide-list-number li a{
        width: 25px;
        height: 25px;
        font-size: 1rem;
        margin-bottom: 62%;
    }
    .guide-list-text li a{
        font-size: 1.313rem;
        margin-bottom: 12%;
        margin-left: 5%;
    }    
    .guide-list-number li a:hover{
        width: 25px;
        height: 25px;
    }
    .swiper-container{
        /* margin-left: 10%; */
    }    
    .swiper-slide{
        margin-right: 10px;
    }
    .slide-hover-txt{
        margin: 7% 0 0 7%;
    }
    .slide-hover-txt h1{
        font-size: 1.2rem;
    }
    .slide-hover-txt p, strong{
        font-size: 0.9rem;
    }
    .slide-hover-01>.slide-hover-txt p:last-child{
        font-size: 0.875rem;
    }
    .slide-hover-02>.slide-hover-txt p:last-child>strong{
        font-size: 0.8rem;
    }
    .slide-hover-03>.slide-hover-txt p, strong{
        font-size: 0.8rem;
    }
    .slide-hover-03>.slide-hover-txt>.f-s-18{
        font-size: 0.7rem;
    }
    .downbtn{
        font-size: 0.7rem;
    }
    /* section 05 */
    .sec05-title>h1{
        font-size: 3.125rem;
    }
    .sec05-slide>div {
        height: 370px;
    }
    /* section 06 */
    .sec06-container{
        width: 90%;
        margin: 0 auto;
    }
    #map{
        height: 430px;
        margin-bottom: 5%;
    }
    .sec06-map-img{
        height: 500px;
        margin-left: 5%;
        margin-bottom: 10%;
    }
}

@media(max-width: 541px){
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        right: 42%;
    }
    .nav_un{
        padding: 0;
    }
    .logo{
        width: 20%;
        margin-top: 1%;
        margin-left: 1%;
    }
    .menus{
        padding: 3.5% 2% 0 0;
    }
    .menu-detail li a {
        font-size: 1rem;
        padding: 0px 9px;
    }
    .slide-txt>h1{
        font-size: 4.063rem;
    }
    .kr{
        font-size: 1.5rem;
    }
    .en{
        font-size: 1.063rem;
    }
    /* section 02 */
    .sec02-txt>h1{
        font-size: 2.125rem;
        padding-top: 8%;
    }
    .sec02-img {
        padding-bottom: 2%;
    }
    .sec02-detail-2>p{
        font-size: 1.063rem;
        line-height: 32px;
    }
    .sec02-txt .f-c-y{
        font-size: 1.125rem;
    }
    /* section 03 */
    .map-title>h1 {
        font-size: 2.125rem;
    }
    .map-title .f-c-y{
        font-size: 1.125rem;
    }
    .map-text>a{
        font-size: 1.063rem;
    }
    .map-number{
        width: 17px;
        height: 17px;
        font-size: 0.7rem;
        line-height: 17px;
    }
    .modal-header{
        padding-top: 4%;
        padding-bottom: 3%;
    }
    .modal-header .modal-title{
        font-size: 1.75rem;
    }
    .modal-detail>p{
        font-size: 1rem;
        line-height: 30px;
    }
    /* section 04 */
    .sec04-title>h1{
        font-size: 2.125rem;
    }
    .sec04-title>h1 .f-c-y{
        font-size: 1.125rem;
    }
    .guide-list-number li a{
        width: 20px;
        height: 20px;
        font-size: 0.8rem;
    }
    .guide-list-number li a:hover{
        width: 20px;
        height: 20px;
    }
    .guide-list-text li a{
        font-size: 1.063rem;
    }
    .swiper-container{
        margin-left: 5%;
    }
    .swiper-slide>img{
        width: 100%;
    }
    .slide-hover-01, .slide-hover-02, .slide-hover-03{
        width: 100%;
        height: 90%;
    }
    .slide-hover-txt{
        margin: 5% 0 0 4%;
    }    
    .slide-hover-txt h1{
        font-size: 0.95rem;
    }
    .slide-hover-txt p, .slide-hover-txt p>strong{
        font-size: 0.5625rem;
    }
    .slide-hover-01>.slide-hover-txt p:last-child{
        font-size: 0.55rem;
    }
    .slide-hover-02>.slide-hover-txt p:last-child>strong{
        font-size: 0.5rem;
    }
    .slide-hover-03>.slide-hover-txt p, strong{
        font-size: 0.4rem;
        letter-spacing: -1px;
    }
    .slide-hover-03>.slide-hover-txt>.f-s-18{
        font-size: 0.4rem;
    }
    .downbtn{
        font-size: 0.4375rem;
        margin: 0 3% 0 0;
    }
    /* section 05 */
    .sec05-title>h1{
        font-size: 2.125rem;
    }
    .sec05-title>.f-c-y{
        font-size: 1.125rem;
    }
    .sec05-slide>div{
        height: 320px;
        margin: 2.5% 0.2%;
        margin-bottom: 5%;
    }
    /* section 06 */
    .sec06-container {
        width: 100%;
    }
    .sec06-map-detail{
        width: 90%;
        margin: 0 auto;
        padding: 0;
        float: none;
    }
    .sec06-map-info{
        width: 100%;
        right: 0;
        background: #eee;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .sec06-map-img{
        display: none;
    }
    #map{
        margin-bottom: 0;
    }
    #footer{
        padding: 0;
    }
    .f-logo img{
        width: 85px;
        margin-top: 8px;
        margin-left: 20px;
    }
    .f-text{
        margin-top: 9px;
        margin-left: 80px;
    }
    .footer-wrap{
        width: 100%;
        margin: 0;
    }
    .f-text p{
        font-size: 13px;
        line-height: 22px;
    }    
}

@media(max-width: 416px){
    /* section 01 */
    .nav_un{
        border: none;
        background-color: transparent;
        padding: 0;
    }
    .logo{
        width: 35%;
        margin: 0;
    }
    .logo_k{
        display: none;
        float: left;
        padding: 7% 0 0 9%;
    }
    .logo_w{
        display: block;
        float: left;
        padding: 7% 0 0 9%;
    }
    .logo_w img{
        width: 60%;
    }
    .menus{
        display: none;
    }
    .logo_k-responsive{
        display: block;
        float: left;
        padding: 7% 0 0 9%;
    }
    .logo_k-responsive img{
        width: 60%;
    }
    .menus-responsive{
        float: none;
        padding: 0;
    }
    .menu-detail-responsive li{
        float: none;
    }
    .hamburger-button{
        padding: 23px 15px;
        display: block;
    }
    .hamburger-close-button{
        padding: 23px 15px;
    }
    .slide-txt>h1{
        font-size: 3.75rem;
    }
    .kr{
        font-size: 1.32rem;
        letter-spacing: -1px;
    }
    .en{
        font-size: 1rem;
    }
    .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto{
        right: 50%;
        transform: translateX(50%);
    }
    /* section 02 */
    .sec02-txt h1{
        font-size: 2rem;
        padding: 10% 0 0 0;
    }
    .sec02-txt .f-c-y{
        font-size: 1rem;
    }
    .sec02-img{
        width: 100%;
        display: block;    
        margin: 0;
        padding-bottom: 0;
    }
    .detail-text{
        display: none;
    }
    .sec02-detail-2{
        width: 100%;
        margin: 0;
    }
    .detail-text-2{
        display: block;
        padding-top: 2%;
        padding-bottom: 15%;
    }
    /* section 03 */
    .sec03-bg{
        display: none;
    }
    .mapbg>img{
        display: block;
    }
    .content-text{
        top: 20%;
        left: 0;
        float: none;
    }
    .content-text h1{
        font-size: 2rem;
        margin-bottom: 5%;
    }
    .content-text>.sec03-title .f-c-y{
        font-size: 1rem;
    }
    .circle{
        width: 18px;
        height: 18px;
        line-height: 17px;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .circle a{
        font-weight: 500;
        font-size: 0.8rem;
    }
    .circle:first-child{
        margin-top: 5px;
    }
    .guide-text-kr{
        margin-left: 4%;
    }
    .guide-text-kr li{
        margin-bottom: 4px;
    }
    .guide-text-kr li a{
        font-size: 1.2rem;
    }    
    .popup-title{
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 5%;
    }
    .popup-text>p{
        font-size: 1.15rem;
        font-weight: 300;
        line-height: 35px;
        text-align: justify;
        margin-top: 3%;
    }
    /* map */
    .map-title{
        width: 90%;
        margin: 0 auto;
        padding-top: 8%;
        padding-bottom: 2%;
    }
    .map-title>h1{
        font-size: 2rem;
    }
    .map-title>h1 .f-c-y{
        font-size: 1rem;
    }
    .map-detail{
        width: 90%;
        margin: 0 auto;
    }
    .map-course{
        width: 100%;
        float: left;
    }
    .course-01, .course-02, .course-03, .course-04, .course-05, .course-06, .course-07, .course-08, .course-09, .course-10, .course-11, .course-12, .course-13, .course-14{
        width: 20%;
        float: left;
        margin-bottom: 5%;
    }
    .map-img{
        width: 100%;
        float: left;
    }
    .map-frame{
        width: 100%;
        position: relative;
    }
    .map-frame>img{
        width: 100%;
    }    
    .map-text{
        float: left;
        margin-left: 5%;
    }
    .map-text>a{
        font-weight: 400;
        font-size: 1rem;
    }
    .map-number{
        width: 16px;
        height: 16px;
        font-weight: 600;
        font-size: 0.5rem;
        line-height: 16px;
        margin-top: 5px;
    }
    /* modal */
    .modal-content{
        width: 90%;
        height: 80%;
    }
    .modal-header{
        padding-top: 9%;
        padding-bottom: 4%;
    }
    .modal-img{
        width: 90%;
    }
    .modal-img>img{
        width: 100%;
    }
    .modal-detail{
        font-weight: 300;
        padding-top: 3%;
        padding-bottom: 4%;
    }
    .modal-detail>p{
        font-size: 0.875rem;
        line-height: 25px;
    }
    /* section 04 */
    .sec04-list{
        width: 40%;
    }
    .sec04-title>h1{
        font-size: 2rem;
    }
    .sec04-title>h1 .f-c-y{
        font-size: 1rem;
    }
    .guide-list-number{
        margin-top: 3.5%;
    }
    .guide-list-text li a{
        font-size: 1rem;
        margin-left: 17%;
    }
    .sec04-slide{
        width: 60%;
    }
    .swiper-slide{
        width: 95%;
    }
    .slide-hover-01, .slide-hover-02, .slide-hover-03{
        height: 93%;
    }
    /* section 05 */
    .sec05-title>h1{
        font-size: 2rem;
    }
    .sec05-title>.f-c-y{
        font-size: 1rem;
    }
    .sec05-slide>div{
        height: 255px;
    }
    /* section 06 */
    #map{
        height: 300px;
    }
    .f-logo img{
        width: 70px;
        margin-top: 8px;
        margin-left: 10px;
    }
    .f-text{
        margin-left: 62px;
    }
    .f-text p{
        font-size: 11px;
        line-height: 18px;
    }
}

@media(max-width: 376px){
    .logo{
        width: 35%;
        margin: 0;
    }
    /* section 03 */
    .modal-content{
        height: 70%;
    }
    .modal-header{
        padding-top: 7%;
        padding-bottom: 2%;
    }
    .modal-header .modal-title{
        font-size: 1.6rem;
    }
    .course-01, .course-02, .course-03, .course-04, .course-05, .course-06, .course-07, .course-08, .course-09, .course-10, .course-11, .course-12, .course-13, .course-14{
        width: 25%;
    }
    .map-number{
        line-height: 16px;
        margin-top: 6px;
    }
    .map-text{
        margin-left: 6%;
    }
    .xi-2x {
        font-size: 1.7em;
    }
    /* section 04 */
    .sec04-title>h1{
        line-height: 30px;
    }
    /* section 06 */
    #map{
        height: 300px;
    }
    .sec06-map-info{
        top: 0;
        right: 0;
        margin-top: 0;
    }
    .sec06-map-img{
        width: 100%;
        height: 152px;
        background-image: url(../images/mapbn.jpg);
        background-position: center;
        background-size: cover;
        margin-right: 0;
    }
    .sec06-map-detail{
        width: 97%;
        padding: 0;
    }
    .sec06-map-tit{
        margin: 1% 2%;
    }
    .address{
        margin: 1% 2%;
    }
    .map-line{
        width: 96%;
        margin: 2%;
    }
   .add-text{
       margin: 0 2%;
   }
   .bus{
       margin: 1% 2%;
   }
   .address-en{
        font-size: 0.78rem;
    }
   .subway{
       margin: 1% 2%;
   }
   .subway>p, .bus>p{
        font-size: 0.9rem;
    }
   .f-logo img{
       width: 60px;
       margin-top: 20px;
       margin-left: 10px;
       margin-bottom: 20px;
    }
    .f-text{
        margin-top: 20px;
        margin-left: 40px;
    }
}

@media(max-width: 361px){
    .menus-responsive{
        width: 100%;
    }
    .kr{
        font-size: 1.31rem;
    }
    /* section 03 */
    .modal-content{
        height: 85%;
    }
    .modal-header{
        padding-top: 6%;
        padding-bottom: 4%;
    }
    .modal-header .modal-title{
        font-size: 1.55rem;
    }
    .modal-header .close-btn{
        width: 50%;
        float: left;
    }
    .modal-img{
        width: 90%;
        margin: 0 auto;
    }
    .modal-img>img{
        width: 100%;
    }
    .modal-detail{
        width: 90%;
        padding-top: 1%;
    }
    .modal-detail>p{
        font-size: 0.875rem;
        line-height: 25px;
    }
    /* section 04 */
    .sec04-title>h1{
        line-height: 28px;
    }
    .guide-list-number li a{
        width: 19px;
        height: 19px;
        font-size: 0.7rem;
    }
    .guide-list-number li a:hover{
        width: 19px;
        height: 19px;
    }
    /* section 05 */
    .sec05-slide>div {
        height: 230px;
        margin: 2.5% 0.1%;
    }
    /* section 06 */
    .f-logo img{
        width: 56px;
        margin-left: 5px;
    }
    .f-text{
        margin-left: 30px;
    }
    
}

@media(max-width: 321px){
    /* section 01 */
    .slide-txt>h1{
        font-size: 3.2rem;
    }
    .kr{
        font-size: 1.17rem;
    }
    .en{
        font-size: 0.91rem;
    }
    /* section 02 */
    .sec02-txt h1{
        font-size: 1.75rem;
    }
    .sec02-detail-2>p{
        font-size: 1rem;
        line-height: 28px;
    }
    /* section 03 */
    .map-title>h1{
        font-size: 1.75rem;
    }
    .map-title>h1 .f-c-y{
        font-size: 0.91rem;
    }
    .modal-content{
        top: 50%;
    }

    /* section 04 */
    .sec04-title>h1{
        font-size: 1.75rem;
    }
    .sec04-title>h1 .f-c-y{
        font-size: 0.91rem;
    }
    .guide-list-number li a{
        width: 17px;
        height: 17px;
        font-size: 0.6875rem;
    }
    .guide-list-number li a:hover{
        width: 17px;
        height: 17px;
    }
    .guide-list-text li a{
        font-size: 0.9rem;
        margin-left: 9%;
    }
    .swiper-container{
        margin-left: 0;
    }
    .swiper-slide{
        width: 98%;
    }
    .slide-hover-01, .slide-hover-02, .slide-hover-03{
        height: 95%;
    }
    .slide-hover-txt h1{
        font-size: 0.8125rem;
    }
    .slide-hover-03>.slide-hover-txt p, strong{
        line-height: 12px;
    }
    .downbtn{
        padding: 0% 2%;
    }
    /* section 05 */
    .sec05-title>h1{
        font-size: 1.75rem;
    }
    .sec05-title>.f-c-y{
        font-size: 0.91rem;
    }
    .sec05-slide>div{
        height: 180px;
        margin: 6.5% 0.1%;
    }
    /* section 06 */
    .f-logo{
        display: none;
    }
    .f-text{
        margin-left: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subway>p, .bus>p{
        font-size: 0.85rem;
    }
}

@media(max-width: 281px){
    .logo{
        width: 25%;
        margin: 0;
    }
    .logo img{
        width: 100%;
    }
    .logo_w{
        padding: 15% 0 0 10%;
    }
    .slide-txt>h1{
        font-size: 2.9rem;
    }
    .kr{
        font-size: 1.05rem;
        letter-spacing: -1.1px;
    }
    .en{
        font-size: 0.87rem;
    }
    /* section 02 */
    .sec02-txt>h1, .map-title>h1{
        font-size: 1.8rem;
    }
    .sec02-txt .f-c-y, .map-title>h1 .f-c-y{
        font-size: 0.9rem;
    }
    .sec02-detail-2>p{
        font-size: 0.9rem;
        line-height: 23px;
    }
    /* section 03 */
    .map-text{
        font-size: 0.9rem;
        margin-left: 4px;
    }
    .map-text>a{
        font-size: 0.9rem;
    }
    .modal-content{
        height: 65%;
        top: 50%;
    }
    .modal-header{
        padding-top: 4%;
        padding-bottom: 3%;
    }
    .modal-header .modal-title{
        font-size: 1.375rem;
    }
    .modal-detail{
        font-size: 0.8rem;
        line-height: 25px;
    }
    .modal-detail>p{
        font-size: 0.8125rem;
        line-height: 20px;
    }
    .course-01, .course-02, .course-03, .course-04, .course-05, .course-06, .course-07, .course-08, .course-09, .course-10, .course-11, .course-12, .course-13, .course-14{
        width: 33%;
        margin-bottom: 2%;
    }
    .map-number{
        width: 14px;
        height: 14px;
        font-size: 0.5rem;
        line-height: 14px;
        margin-top: 5px;
    }
    /* section 04 */
    .sec04-list{
        width: 41%;
    }
    .sec04-title>h1{
        font-size: 1.625rem;
        line-height: 24px;
    }
    .sec04-title>h1 .f-c-y{
        font-size: 0.8125rem;
    }
    .sec04-slide{
        width: 59%;
    }
    .swiper-container{
        margin-left: 6%;
    }
    .swiper-slide{
        width: 100%;
    }
    .swiper-slide>img{
        width: 100%;
    }
    .slide-hover-01, .slide-hover-02, .slide-hover-03{
        height: 93%;
    }
    .guide-list-number li a{
        width: 15px;
        height: 15px;
        font-size: 0.625rem;
    }
    .guide-list-number li a:hover{
        width: 15px;
        height: 15px;
    }
    .guide-list-text li a{
        font-size: 0.8125rem;
    }
    .slide-hover-txt h1{
        font-size: 0.6875rem;
        float: left;
    }
    .slide-hover-txt p, strong {
        font-size: 0.4375rem;
        letter-spacing: -1.2px;
        margin-bottom: 0%;
    }
    .slide-hover-txt{
        margin: 3% 0 0 4%;
    }
    .slide-hover-txt p:last-child{
        margin-top: 0;
    }
    .slide-hover-01>.slide-hover-txt p:last-child{
        font-size: 0.4375rem;
    }
    .underline{
        width: 60%;
        height: 1px;
        margin: 5.5% 5% 2%;
        float: left;
    }
    .downbtn{
        padding: 0% 1%;
        letter-spacing: -1px;
    }
    /* section 05 */
    .sec05-title>h1{
        font-size: 1.625rem;
    }
    .sec05-title>.f-c-y{
        font-size: 0.8125rem;
    }
    .sec05-slide>div{
        height: 150px;
    }
}